/* FRONTEND MENTOR INITIAL STYLES */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  /* # SPACE SYSTEM */
  /* ## TYPOGRAPHY - FONT SIZES */
  --10px: calc(10rem / 16);
  --12px: calc(12rem / 16);
  --14px: calc(14rem / 16);
  --16px: calc(16rem / 16);
  --18px: calc(18rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
  --44px: calc(44rem / 16);
  --52px: calc(52rem / 16);
  --62px: calc(62rem / 16);
  --74px: calc(74rem / 16);
  --86px: calc(86rem / 16);
  --98px: calc(98rem / 16);

  /* CUSTOM */
  --30px: calc(30rem / 16);

  /* ## WHITESPACE */
  --2wpx: calc(2rem / 16);
  --4wpx: calc(4rem / 16);
  --8wpx: calc(8rem / 16);
  --12wpx: calc(12rem / 16);
  --16wpx: calc(16rem / 16);
  --24wpx: calc(24rem / 16);
  --32wpx: calc(32rem / 16);
  --48wpx: calc(48rem / 16);
  --64wpx: calc(64rem / 16);
  --80wpx: calc(80rem / 16);
  --96wpx: calc(96rem / 16);
  --128wpx: calc(128rem / 16);

  /* # COLORS */
  /* ## PRIMARY */
  --color-psc: hsl(171, 66%, 44%);
  --color-plg: hsl(233, 100%, 69%);
  /* ## Neutral */
  --color-ndgb: hsl(210, 10%, 33%);
  --color-ngb: hsl(201, 11%, 66%);

  /* CUSTOM */
  --color-clg: hsl(201deg 11% 66% / 18%);

  /* # SHADOWS */
  --shadow-btn: inset 0px -3px 3px 0px #0000002b;
}

body {
  font-size: var(--10px);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: var(--color-ndgb);
}

/* REUSABLE */
.btn {
  width: 100%;
  padding: var(--16wpx);
  border-radius: var(--24wpx);
  box-shadow: var(--shadow-btn);
  font-size: var(--16px);
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-ios {
  background-color: var(--color-psc);
  color: #fff;
}
.btn-mac {
  background-color: var(--color-plg);
  color: #fff;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  align-items: center;
  gap: var(--16wpx);
}

.heading {
  font-size: var(--30px);
  line-height: 1.2;
  text-align: center;
}

.text {
  font-size: var(--16px);
  line-height: 1.5;
  text-align: center;
}

/* REUSABLE */

p {
  color: var(--color-ngb);
}

.container {
  min-width: calc(375rem / 16);
  max-width: calc(1440rem / 16);

  margin: 0 auto;
  padding: 0 var(--32wpx);

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
}

.hero-section {
  margin: var(--80wpx) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--16wpx);
}

.logo {
  margin-bottom: var(--24wpx);
}

.hero-text {
  margin-bottom: var(--24wpx);
}

.info-section {
  margin: var(--80wpx) 0;

  display: flex;
  flex-direction: column;
  gap: var(--16wpx);
}

.info-text {
  margin-bottom: var(--24wpx);
}

.info-img {
  width: 100%;
  margin-bottom: var(--24wpx);
}

.info-topics {
  display: flex;
  flex-direction: column;
  gap: var(--12wpx);
  margin-bottom: var(--24wpx);
}

.track-section {
  margin: var(--80wpx) 0;

  display: flex;
  flex-direction: column;
  gap: var(--16wpx);
}

.track-img {
  width: 100%;
}

.track-text {
  margin-bottom: var(--64wpx);
}

.track-topics {
  margin-top: var(--80wpx);
}

.track-heading {
  margin-bottom: var(--12wpx);
}

.track-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--64wpx);
  justify-content: center;
}
.track-topic:last-child {
  margin-bottom: var(--80wpx);
}

.track-topic-heading {
  font-size: var(--24px);
  margin-bottom: var(--24wpx);
}

.track-topic-img {
  width: calc(35rem / 16);
  margin-bottom: var(--24wpx);
}

.features {
  margin-bottom: var(--80wpx);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--64wpx);
}

.features-icon {
  width: var(--128wpx);
}

.cta-section {
  margin: var(--80wpx) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--24wpx);
}

.cta-text {
  margin-bottom: var(--24wpx);
}

.footer {
  padding: var(--48wpx) 0;
  background-image: none;
  background-color: var(--color-clg);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: var(--24wpx);
}

.link-list {
  list-style: none;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: var(--32wpx);
}

.link-icon img {
  width: var(--48wpx);
  margin-bottom: var(--12wpx);
}

.link-item a:link,
.link-item a:visited {
  text-decoration: none;
  font-size: var(--16px);
  color: var(--color-ndgb);
  font-style: normal;
}

.social-links {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--32wpx);
  margin-top: var(--12wpx);
}

/* QUERIES */

@media (min-width: calc(376em / 16)) {
  .container {
    min-width: 100vw;
    background-size: contain;
    background-position: top;
    /* padding: 0 var(--64wpx); */
  }
  .btn {
    max-width: calc(311rem / 16);
  }
}
@media (min-width: calc(400em / 16)) {
  .container {
    padding: 0 var(--48wpx);
  }

  .footer {
    padding: var(--32wpx) 0;
  }
}
@media (min-width: calc(600em / 16)) {
  .container {
    padding: 0 10vw;
  }

  .logo {
    width: var(--128wpx);
  }

  .heading {
    font-size: var(--62px);
  }

  .text {
    font-size: var(--24px);
  }

  .btn-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn {
    transition: background 0.5s;
  }

  .btn:hover {
    cursor: pointer;
    background-color: black;
  }

  .info-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    /* column-gap: var(--128wpx); */
    align-items: center;

    position: relative;
    height: 80vh;
  }

  .info-topics {
    grid-column: 2;
    padding-left: var(--96wpx);
  }

  .info-img {
    grid-row: span 3;
    /* left: 0; */
    transform: translatex(-40%);

    position: absolute;
    height: 100%;
    margin: 0;
  }

  .topic-heading {
    font-size: var(--44px);
    text-align: start;
  }

  .topic-text {
    text-align: start;
  }

  .track-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-items: start;
    gap: var(--24wpx);
  }

  .track-topic-img {
    width: var(--64wpx);
  }

  .track-topic-heading {
    font-size: var(--44px);
  }

  .features {
    flex-direction: row;
  }

  .features-icon {
    width: calc(4 rem + var(--128wpx));
  }

  .footer {
    padding-bottom: var(--48wpx);
    padding-top: var(--48wpx);
  }

  .links {
    position: relative;
    justify-content: center;
    align-items: start;
  }

  .link-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    column-gap: var(--80wpx);
  }

  .link-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .link-item:nth-child(6) {
    grid-column: 4;
    grid-row: 1;
  }

  .link-icon {
    grid-row: span 2;
  }

  .social-links {
    position: absolute;
    left: 100%;
    margin-right: auto;
    transform: translateX(-100%);
  }
}
